* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

header {
    background: lightgray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 80px;
    position: fixed;
}

.logo {
    width: 60px;
}

.navbar, .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    text-transform: uppercase;
    gap: 30px;
}
